REGISTRATION_USERNAME=replace_with_unique_username
REGISTRATION_EMAIL=replace_with_unique_email@example.test
REGISTRATION_DISPLAY_NAME=Hurl Registration
RESET_UNKNOWN_IDENTIFIER=replace_with_missing_username
